@model IKart_Shared.DTOs.StocksDto

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Add Stock";
}

<div class="container mt-4">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Create", "Stocks", FormMethod.Post))
    {
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.Category)
            @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Category)
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(m => m.SubCategory)
            @Html.TextBoxFor(m => m.SubCategory, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubCategory)
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(m => m.TotalStocks)
            @Html.TextBoxFor(m => m.TotalStocks, new { @class = "form-control", type = "number", min = "0" })
            @Html.ValidationMessageFor(m => m.TotalStocks)
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-secondary" onclick="history.back()">Cancel</button>
    }
</div>
