
@model List<IKart_Shared.DTOs.ProductDto>
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Products";
}

<div class="container mt-4">
    <h2 class="heading-title mb-4">@ViewBag.Title</h2>

    <div class="mb-3 d-flex justify-content-center text-primary gap-3">
        <a href="@Url.Action("Create")" class="btn btn-info d-flex align-items-center">
            <i class="fa fa-plus me-1"></i> Add Product
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="@Url.Action("Index", "Stocks")" class="btn btn-warning d-flex align-items-center">
            <i class="fa fa-boxes me-1 "></i> Stocks
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="@Url.Action("Reports", "Products")" class="btn btn-success d-flex align-items-center">
            <i class="fa fa-info-circle me-1"></i> Products Info
        </a>
    </div>

    <table class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>SubCategory</th>
                <th>Price (₹)</th>
                <th>Stock Id</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.ProductId</td>
                    <td>@p.ProductName</td>
                    <td>@p.Category</td>
                    <td>@p.SubCategory</td>
                    <td>@p.Cost</td>
                    <td>@p.Stock_Id</td>
                    <td class="text-center">
                        <a href="@Url.Action("Edit", new { id = p.ProductId })" class="btn btn-sm btn-outline-primary">Edit</a>
                        <a href="@Url.Action("Delete", new { id = p.ProductId })" class="btn btn-sm btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
